$screen-xs-max: 370px; // small tablets and large smartphones (landscape view)
$screen-sm-max: 576px; // small tablets and large smartphones (landscape view)
$screen-md-max: 768px; // small tablets (portrait view)
$screen-lg-max: 992px; // tablets and small desktops
$screen-xl-max: 1200px; // large tablets and desktops

$colors: (
    orange: #ed6e04,
    orange-dark: #934300,
    white: #f5f5f5,
    white-dirty: #f0f0f0,
    gray: #535352,
    gray-light: #838282,
);

$proportions: 1rem, 2rem, 3rem,