{{ define "content" }}
    <section>
        <div class="c-container c-blog-list__intro">
            <div class="c-blog-list__title-box">
                <h1 class="c-blog-list__title">{{ .Params.introduction.heading }}</h1>
                <p class="c-blog-list__subtitle">{{ .Params.introduction.subheading }}</p>
            </div>
            <a href="{{ .Params.introduction.button.url }}" class="u-btn u-btn--{{ .Params.introduction.button.type }} c-blog-list__title-btn">{{ .Params.introduction.button.text }}</a>
        </div>
    </section>

    <section id="list" class="t-text--orange-dark">
        <div class="c-container c-standard">
            <div class="c-sticky-container">
                <div class="c-sticky-container__left">
                    <h2 class="c-sticky-container__title">Seznam článků</h2>
                </div>

                <div class="c-sticky-container__right">
                    <div class="c-blog-list__list">
                        {{ $pages := where .Site.RegularPages "Type" "clanky" }}
                        {{ range sort $pages ".Params.publish_date" "desc" }}
                            <a href="{{ .RelPermalink }}" class="c-blog-list__item">
                                <h3 class="c-blog-list__item-title">{{ .Title }}</h3>
                                <p class="c-blog-list__item-summary">{{ .Summary }}</p>
                                <div class="c-blog-list__item-footer">
                                    <span class="c-blog-list__item-badge">{{ .Params.category }}</span>
                                    <span class="c-blog-list__item-date">{{ dateFormat "02. 01. 2006" .Params.publish_date }}</span>
                                </div>
                            </a>
                        {{ end }}
                    </div>
                    <div class="c-blog-list__buttons">
                        {{ range .Params.buttons }}
                        <a href="{{ .url }}" class="u-btn u-btn--{{ .type }}">{{ .text }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{{ end }}
