.c-interest {

    &__title {
        font-size: 2.5rem;
        @include md {
            font-size: 2rem;
        }
    }

    &__title-alert {
        font-size: 1rem;
        font-weight: normal;
        display: block;
    }

    &__title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem 0;

        @include md {
            .u-btn {
                display: none;
            }
        }
    }
    
    &__radio-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.3rem;
        margin-bottom: 2rem;

        @include lg {
            grid-template-columns: 100%;
        }
    }

    &__checkbox-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.3rem;
        margin-bottom: 3rem;
        text-align: center;

        @include lg {
            grid-template-columns: 1fr 1fr;
        }

        @include md {
            grid-template-columns: 100%;
        }
    }

    &__label {
        cursor: pointer;
        border-radius: 50px;
        background: linear-gradient(145deg, #ffffff, #dddddd);
        box-shadow:  20px 20px 20px #d0d0d0, -20px -20px 20px #ffffff;
        padding: 2rem 3rem;
        transition: 0.2s;
    }

    &__label-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        display: block;
    }

    &__label-description {
        font-size: 0.9rem;
    }

    &__label-text {
        font-weight: 500;
        font-size: 1.2rem;
    }

    &__label-icon {
        fill: map-get($colors, orange-dark );
        margin-left: 0.8rem;
        transform: scale(1.2);
    }

    &__radio {
        display: none;

        &:checked + .c-interest__label {
            background: #f5f5f5;
            box-shadow: inset 20px 20px 20px #d0d0d0, inset -20px -20px 20px #ffffff;
        }
    }

    &__group {
        display: flex;
        justify-content: center;
        width: 453px;
        position: relative;
        margin: 0 auto;
        margin-top: 3rem;

        @include md {
            width: 100%;
        }
    }

    &__input-label, &__textarea-label {
        position: absolute;
        top: 10px;
        left: 32px;
        transition: 0.2s;
        color: map-get($colors, purple);
    }

    &__group-input, &__group-textarea {
        padding: 2.5rem 2rem 1.2rem 2rem;
        font-size: 1.2rem;
        border-radius: 50px;
        background: linear-gradient(145deg, #ffffff, #dddddd);
        box-shadow:  20px 20px 20px #d0d0d0, -20px -20px 20px #ffffff;
        border: none;
        -webkit-appearance: none;
        width: 100%;

        &:focus {
            background: #f5f5f5;
            box-shadow: inset 20px 20px 20px #d0d0d0, inset -20px -20px 20px #ffffff;
        }
    }

    &__textarea-label {
        top: 27px;
        left: 30px
    }

    &__group-textarea {
        padding-top: 3.4rem;
        padding-left: 1.9rem;
        min-height: 150px;
    }
    
}