.c-sticky-container {
    display: flex;
    margin: 2rem 0;

    @include md {
        flex-direction: column;
    }

    &__left {
        flex-basis: 23%;
        min-width: 250px;
        margin-right: 4rem;
    }

    &__right {
        flex-basis: 77%;
    }

    &__title {
        position: sticky;
        top: 30vh;
        display: block;
        color: map-get($colors, orange );
        font-size: 2.2rem;

        @include lg {
            margin-bottom: 3rem;
            font-size: 2.5rem;
        }
    }
}