.c-sticky-container {
    display: flex;
    margin: 2rem 0;

    &__left {
        flex-basis: 23%;
        margin-right: 4rem;
    }

    &__right {
        flex-basis: 77%;
    }

    &__title {
        position: sticky;
        top: 30vh;
        display: block;
        color: map-get($colors, orange );
        font-size: 2.2rem;
    }
}