html {
    scroll-behavior: smooth;
}

.o-main {
    width: 100%;
    min-height: 100vh !important;
    background-color: map-get($colors, white );
    padding-top: 5.7rem;
    position: relative;
}

.c-container {
    max-width: 1080px;
    margin: auto;
    width: 80%;

    @include sm {
        width: 85%;
    }
}