@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';
@import 'base/helpers';

@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';
@import 'layout/nav';

@import 'utils/buttons';
@import 'utils/separator';
@import 'utils/logo';
@import 'utils/icon';

@import 'components/interest';
@import 'components/reference';
// @import 'components/...';
// @import 'components/...';
// @import 'components/...';
// @import 'components/...';


html {
    scroll-behavior: smooth;
}

#intro {
    overflow: hidden;
}

.o-main {
    width: 100%;
    min-height: 100vh !important;
    background-color: map-get($colors, white );
    padding-top: 5.7rem;
    position: relative;
}

.c-container {
    max-width: 1080px;
    margin: auto;
    width: 80%;
}

.c-intro {
    padding-top: 6.5rem;
    position: relative;
    margin-bottom: 26rem;
    z-index: 0;

    &::after {
        content: url('/running_wild.svg');
        position: absolute;
        top: 0.5rem;
        right: -10rem;
        width: 100%;
        z-index: -1;
    }
    
    &__title-box {
        margin-bottom: 6.3rem;
        width: 100%;
        max-width: 800px;
    }
    
    &__title {
        font-size: 4rem;
        line-height: 1.2em;
        color: map-get($colors, orange-dark );
    }

    &__subtitle {
        font-size: 1.2rem;
        margin-top: 1.3rem;
        color: map-get($colors, orange );
        font-weight: 600;
    }
}

.c-standard {
    padding: 4rem 0;
    height: 100%;

    &__title-box {
        margin-bottom: 4rem;
    }

    &__title {
        font-size: 3.5rem;
        margin-bottom: 0.8rem;
    }

    &__subtitle {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    &__text {
        line-height: 1.8rem;
        font-size: 1.1rem;
    }

    &__content {
        margin-bottom: 2rem;
    }

    &__footer {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;

        > * {
            margin: 0 1rem;
        }
    }

    &__3-columns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width: 749px) {
            justify-content: center;
        }
    }

    &__2-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem 3.5rem;
    }

    &__column {
        width: 320px;
        text-align: center;
        margin-bottom: 2rem;
    }
}

.c-list {
    list-style-type: none;

    &__item {
        margin-top: 8px;
        position: relative;
        font-size: 1.2rem;
    }

    &__title {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        font-size: 1.8rem;
        margin-bottom: 1.3rem;
    }

    &__title-icon {
        margin-top: 2rem;
        margin-bottom: 3rem;
        transform: scale(3);
        fill: map-get($colors, white );
    }
}

.c-sticky-container {
    display: flex;
    margin: 3rem 0;

    &__left {
        flex-basis: 23%;
        margin-right: 4rem;
    }

    &__right {
        flex-basis: 77%;
    }

    &__title {
        position: sticky;
        top: 30vh;
        display: block;
        color: map-get($colors, orange );
        font-size: 2.2rem;
    }
}

.c-business-card {
    display: flex;
    justify-content: space-between;
    border-top: 8px solid map-get($colors, orange );
    padding: 2.5rem 2.5rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: map-get($colors, white );
    box-shadow:  7px 7px 14px #d0d0d0, 
    -7px -7px 14px #ffffff;
    

    &__icons {
        display: flex;
        justify-content: center;
        width: 100%;

        > * {
            margin: 1rem;
        }

        .u-ZFP-logo {
            width: 3.3rem;
        }

        .u-logo {
            width: 2.5rem;
        }
    }

    &__profile-photo {
        height: 300px;
        border-radius: 50px;
        margin-top: 1rem;
    }

    &__right {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__text {
        color: map-get($colors, gray-light );
        font-style: italic;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }

    &__info-item {
        display: flex;
        margin-top: 0.2rem;
        font-size: 1rem;
        text-decoration: none;
        color: map-get($colors, orange-dark );
        fill: map-get($colors, orange-dark );
        transition: 0.2s;

        &:hover {
            color: #bd5500;
            fill: #bb5400;
        }
        
        > svg {
            position: relative;
            top: 3px;
            margin-right: 0.8rem;
        }
    }

    &__buttons {
        margin-top: 3.5rem;
    }
}
